{{ define "body" }}
{{- $N := .Name -}}
{{- $R := .Receiver -}}
{{- $P := .Parameter -}}
{{- $F := .Function -}}
func ({{$R}} *{{$N}}) {{$F}}({{$P}} *{{$N}}) bool {
{{- range $i, $f := .Fields }}
    if {{$R}}.{{$f}} != {{$P}}.{{$f}} {
        return false
    }
{{ end }}

    return true
}
{{ end }}